<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BlogX</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="header">
        <h1>Blogx</h1>
        <div class="menu">
            <a href="/">HOME</a>
            <a href="/about">About us</a>
            <a href="/about">Contact us</a>
        </div>
    </div>