<%- include("partials/headers.ejs") %>
    <div class="articles">
        <h2>About</h2>
        <p>
            This is a project of Blog with mongoDB.
        </p>
    </div>
    <%- include("partials/footers.ejs") %>