<%- include("partials/headers.ejs") %>
    <div class="add">
        <form class="addForm" action="/add" method="POST">
            <label for="title">Title </label>
            <input class="input-title" name="title" type="text" placeholder="Title" value="new article">
            <label for="article">Article </label>
            <textarea class="input-article" name="article" type="text" placeholder="Article"></textarea>
            <div></div>
            <button class="input-btn" type="submit" name="input-btn">Publish</button>
        </form>
    </div>
    <%- include("partials/footers.ejs") %>